.sidenav {
  background-color: #f1f1f1;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 150px;
  left: 0;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

.sidenav a:hover {
  color: #0645AD;
}

.main {
  margin-left: 220px;
  padding: 0px 10px;
}
