h1, h2 {
	color: #000000
}

.invisible {
	display: none;
}

.punainen {
color: #AA0000
}


.kappaleet {
  background-color: #FFFFFF;
  color: #BDBDBD;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

body {
padding-left: 50px;
}

table {
	background-color: #BBCCDD
}


	
td {
border: 1px solid #000000
}


.sisennys {
	paddding-left: 50px;
}

.jsharkkatyyli {
	display: none;
}

